
<footer id="footer">    
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span>Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span>Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span>Email</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Virtual Services & support</li>
    </ul>
</footer>
