<header id="header" class="alt">
    <h1><a href="./">VIRTUAL SERVICES & SUPPORT</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menú</span></a>
                <nav id="menu">
                    <ul>
                        <li><a href="./">Inicio</a></li>
                        <li><a href="./barra_menu/esteganografia/esteganografia.html">Esteganografía</a></li>
                        <li><a href="./barra_menu/plantillas/plantillas.html">Plantillas</a></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </nav>
</header>

